aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
configure.in
install-sh
Makefile
Makefile.in
Makefile.am
Makefile.am.common
missing
*.pot
*.ami
.dep
doc/autodocs/*.html

