*.ami
*.pot
.dep
/.yardoc
/doc
/test/*.log
/test/*.trs
Makefile
Makefile.am
Makefile.am.common
Makefile.in
aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
configure.ac
configure.in
doc/autodocs/*.html
doc/autodocs/*.tmp
doc/autodocs/.yardoc
doc/autodocs/Yast
doc/autodocs/css
doc/autodocs/js
install-sh
missing
package/*.bz2
test-driver
testsuite/*.log
testsuite/*.sum
testsuite/*.test
testsuite/config
testsuite/raw*
testsuite/run
testsuite/site.exp
testsuite/tmp*
