aclocal.m4
autom4te.cache
config.guess
config.log
config.status
config.sub
configure
configure.ac
configure.in
install-sh
Makefile
Makefile.in
Makefile.am
Makefile.am.common
missing
*.pot
*.ami
.dep
doc/autodocs/*.html
doc/autodocs/*.tmp
doc/autodocs/.yardoc
doc/autodocs/css
doc/autodocs/js
doc/autodocs/Yast
testsuite/site.exp
testsuite/config
testsuite/run
testsuite/tmp*
testsuite/*.log
testsuite/*.sum
testsuite/*.test
package/*.bz2
package/*.spec
