[Desktop Entry]
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-Net_advanced;

X-KDE-ModuleType=Library
X-KDE-RootOnly=true
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=iscsi-lio-server

X-SuSE-YaST-Group=Net_advanced
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=all
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=iscsi-lio-servers
X-SuSE-YaST-Keywords=iscsi,lio,network,system

Icon=yast-iscsi-server
Exec=xdg-su -c "/sbin/yast2 iscsi-lio-server" 
Name=YaST iSCSI LIO Target
GenericName=iSCSI LIO Target
Comment=Configure an iSCSI target via LIO
X-KDE-SubstituteUID=true
StartupNotify=true
